DB_HOST=database-messaging.cwhssg8m0om.us-east-1.rds.amazonaws.com
DB_NAME=postgres
DB_PASSWORD=postgres*123
DB_PORT=5432
DB_USER=postgres
FLASK_APP=run.py
FLASK_ENV=development
JWT_SECRET_KEY=devops-masters-entrega1-jwt-secret-key
SECRET_KEY=devops-masters-entrega1-secret
NEW_RELIC_LICENSE_KEY=0abb699760114ef01e9b03af26bdf769c86cNRAL
NEW_RELIC_APP_NAME=blacklist-service
NEW_RELIC_LOG=stdout
NEW_RELIC_LOG_LEVEL=info
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=true
NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED=true